body {
  background: hsl(275, 100%, 97%);
  font-family: 'Work Sans', sans-serif;
}

#container {
  box-sizing: border-box;
  background: white;
  width: 600px;
  margin: 165px auto;
  padding: 40px;
  border-radius: 15px;
}

#cabecera {
  display: flex;
  align-items: center;
  padding: 15px 0px;
}

#cabecera span {
  color: hsl(292, 42%, 14%);
  font-weight: 700;
  font-size: 50px;
  margin-left: 30px;
}

.questions {
  color: hsl(292, 42%, 14%);
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.answers {
  color: hsl(292, 16%, 49%);
  font-size: 18px;
  border-bottom: 1px solid hsl(0, 0%, 90%);
  line-height: 25px;
  font-weight: 400;
  max-height: 0;
  overflow: hidden;
}

.answers.active {
  max-height: fit-content;
}

.icon.active {
}
